.next-phase{
    .main-header{
        margin-bottom: 5vh;
    }
}
$characters: "asterix" "obelix" "marnypopis" "cezar" "panoramix" "ceplus" "numernabis" "cleopatra" "nikosis" "otis" "redbeard" "idea" "pyradonis" "harimatis" "kupis";
@for $i from 1 to length($characters)+1 {
    .#{nth($characters,$i)}{
        background: url(#{"../img/"+nth($characters,$i)+".jpg"});
        background-size: cover ;
        @if #{nth($characters,$i) == "marnypopis"} {
            background-position-x: 40% !important;
        }
    }
}
.gameOptions-characters{
    width: calc(35% - 20px);
    padding: 10px;
    text-align: center;
    .gameOption-widget{
        width: 90%;
        height: 70vh;
        background: rgba(220,220,220,.9);
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        margin: 5px;
        cursor: pointer;
        transition: filter 0.4s;
        vertical-align: top;
        .widget-header{
            width: calc(95% - 10px);
            padding: 10px 5px;
            text-align: center;
            font-size: 1.9em;
            font-family: "Bebas Neue",sans-serif;
            position: relative;
            top: 20px;
            margin-bottom: 3vh;
        }
        .photo-wrapper{
            width: 15vh;
            height: 15vh;
            border-radius: 50%;
            margin-bottom: 4vh;
        }
        .stats-wrapper{
            width: calc(90% - 20px);
            padding: 10px;
            text-align: center;
            margin-bottom: 2vh;
            .stats{
                display: inline-block;
                vertical-align: top;
                margin: 0px 20px;
                font-family: "Bebas Neue",sans-serif;
                letter-spacing: 0.03em;
            }
            .health{
                color: rgba(255,0,0,.9);
            }
            .stamina{
                color: purple;
            }
        }
        .character-attacks{
            width: calc(95% - 10px);
            padding: 5px;
            text-align: center;
            .attack-wrapper{
                width: calc(100% - 10px);
                padding: 5px;
                border: 1px solid #aaa;
                border-radius: 10px;
                margin-bottom: 1vh;
                font-family: "Pattaya",sans-serif;
                .attack-skills{
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                }
                .attack-name{
                    width: 40%;
                    font-size: 0.9em;
                }
                .attack-specifics{
                    width: 50%;
                    font-size: 0.8em;
                }
                .attack-forWho{
                    font-size: 0.7em;
                    .attack-marking{
                        width: 1.3em;
                        height: 1.3em;
                        border: 1px solid #111;
                    }
                    .user-marking{
                        background: green;
                    }
                    .enemy-marking{
                        background: red;
                    }
                }
            }
        }
    }
    .gameOption-widget:hover{
        filter: brightness(70%);
    }
}
@media screen and (max-width: 1196px) {
    .gameOptions-characters{
        width: calc(60% - 20px);
        .gameOption-widget{
            font-size: 0.8em;
            .stats-wrapper{
                width: calc(100% - 20px);
            }
        }
    }
}
.swiper-button-next, .swiper-button-prev{
    transform: scale(0.8);
    color: rgb(230, 230, 230);
    padding: 2px;
}
.swiper-button-next{
    right: -3px !important;
}
.swiper-button-prev{
    left: -3px !important;
}
@media screen and (max-width: 860px) {
    .gameOptions-characters{
        width: calc(65% - 20px);
        text-align: center;
        align-items: center;
    }
    .swiper-button-prev,.swiper-button-next{
        display: none !important;
    }
}
@media screen and (max-width: 657px) {
    .gameOptions-characters{
        width: calc(75% - 20px);
    }
}
@media screen and (max-width: 453px) {
    .gameOptions-characters{
        width: calc(100% - 20px);
        .gameOption-widget{
            .photo-wrapper{
                width: 12vh;
                height: 12vh;
                margin-bottom: 3vh;
            }
            .character-attacks{
                width: calc(100% - 10px);
                .attack-wrapper{
                    .attack-name{
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}