@keyframes gameIntro {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes gameIntroRWD {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes introAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
@keyframes gameGoingOn {
    0%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
.game-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: url("../img/fightBackground.jpg");
    background-size: cover;
    background-position-x: 80%;
    text-align: center;
    .gamers-presenting-container{
        width: 100%;
        height: 100%;
        animation: introAnimation;
        animation-duration: 0.5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        .gamers-images{
            width: 0%;
            height: 100%;
            vertical-align: top;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-name: gameIntro;
            float: left;
            animation-delay: 0.5s;
            box-shadow: inset 1px 1px 100px #111;
            overflow-x: hidden;
            .character-name{
                width: calc(90% - 20px);
                padding: 10px;
                text-align: center;
                font-size: 5.5em;
                font-family: 'Amatic SC', cursive;
                position: relative;
                top: 40%;
                color: dodgerblue;
            }
            .second-name{
                color: red;
            }
        }
        .second-fighter{
            animation-delay: 1.5s;
            float: right;
        }
    }
}
.main-game{
    width: 100%;
    height: 100%;
    visibility: hidden;
    animation-name: gameGoingOn;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    .gamer-level{
        width: calc(100% - 20px);
        height: 50%;
        padding: 10px;
        .stats{
            float: left;
            margin-left: 10%;
            width: calc(30% - 20px);
            border-radius: 10px;
            position: relative;
            top: 12%;
            padding: 10px;
            background: rgba(255,255,255,.5);
            .stats-elem{
                width: calc(90% - 10px);
                padding: 5px;
                text-align: center;
                font-family: "Bebas Neue",sans-serif;
                font-size: 1.9em;
            }
            .health{
                color: red;
            }
            .stamina{
                color: purple;
            }
        }
        .first-stats{
            float: right;
            margin-left: auto;
            margin-right: 10%;
        }
        .image-container{
            float: right;
            margin-right: 10%;
            width: 30%;
            text-align: center;
            position: relative;
            top: 10%;
            .image{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                position: relative;
                top: 5px;
            }
            .image-surrounding{
                width: 160px;
                height: 160px;
                border-radius: 50%;
            }
            .second-surrounding{
                background: red;
            }
            .first-surrounding{
                background: dodgerblue;
            }
            .highlighted{
                transition: all 0.2s;
                filter: brightness(140%);
            }
        }
        .first-container{
            float: left;
            margin-right: auto;
            margin-left: 10%;
        }
    }
    .second-gamer-level{
        background: rgba(48, 48, 48, 0.2);
    }
    .first-gamer-level{
        background: rgba(24, 24, 24, 0.2);
    }
    .game-characters{
        width: 60%;
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }
}
@media screen and (max-width: 1132px) {
    .game-container{
        .gamers-presenting-container{
            .gamers-images{
                .character-name{
                    font-size: 4.5em;
                    width: calc(100% - 20px);
                }
            }
        }
    }
}
@media screen and (max-width: 1073px) {
    .game-container{
        .gamers-presenting-container{
            .gamers-images{
                display: block;
                height: 50%;
                animation-name: gameIntroRWD;
                .character-name{
                    font-size: 4em;
                    top: 25%;
                }
            }
        }
    }
    .main-game{
        .gamer-level{
            .stats{
                width: calc(40% - 20px);
                top: 16%;
                .stats-elem{
                    width: calc(100% - 10px);
                    font-size: 1.5em;
                }
            }
            .image-container{
                .image{
                    width: 130px;
                    height: 130px;
                }
                .image-surrounding{
                    width: 140px;
                    height: 140px;
                }
            }
        }
    }
}
@media screen and (max-width: 868px) {
    .main-game{
        .game-characters{
            display: block;
            width: 100%;
            height: 60%;
        }
    }
}
@media screen and (max-width: 627px) {
    .main-game{
        .game-characters{
            display: block;
            width: 100%;
            height: 50%;
        }
        .gamer-level{
            .stats{
                top: 12%;
                font-size: 0.7em;
                .stats-elem{
                    width: calc(100% - 10px);
                    font-size: 1.5em;
                }
            }
            .image-container{
                .image{
                    width: 90px;
                    height: 90px;
                }
                .image-surrounding{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
@media screen and (max-width: 384px) {
    .main-game{
        .gamer-level{
            .stats{
                .character-info{
                    font-size: 1.3em;
                }
            }
        }
    }
}