@keyframes gameIntro {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes gameIntroRWD {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes introAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
@keyframes gameGoingOn {
    0%{
        visibility: hidden;
        opacity: 0;
        overflow-y: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
        height: 100%;
        overflow-y: auto;
    }
}
@keyframes userAttacked {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-4px);
    }
    75%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes userHealed {
    50%{
        transform: scale(1.2);
    }
}