.main-game{
    .steering{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        .steering-turn{
            width: calc(90% - 10px);
            padding: 5px;
            text-align: center;
            font-size: 2.9em;
            font-family: "Bebas Neue",sans-serif;
        }
        .skip-turn{
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            width: calc(80% - 40px);
            text-align: center;
            font-family: 'Amatic SC', cursive;
            font-size: 1.9em;
            background: rgba(182, 182, 182, 0.2);
            cursor: pointer;
            transition: filter 0.4s;
            margin-bottom: 4px;
        }
        .surrender{
            background: rgba(182, 0, 0, 0.5);
        }
        .skip-turn:hover{
            filter: brightness(170%);
        }
    }
    .first-gamer{
        background: rgba(30, 144, 255,.95);
    }
    .second-gamer{
        background: rgba(255,10,10,.9);
    }
    .skills-and-attacks{
        width: calc(90% - 10px);
        padding: 5px;
        text-align: center;
        margin-bottom: 2vh;
        .skill-attack{
            width: calc(95% - 10px);
            padding: 5px;
            border: 1px solid #333;
            border-radius: 10px;
            margin-bottom: 7px;
            font-family: 'Amatic SC', cursive;
            background: rgb(219, 255, 171);
            cursor: pointer;
            transition: filter 0.4s;
            .skill-name{
                width: calc(100% - 10px);
                padding: 5px;
                text-align: center;
                font-size: 1.8em;
                margin-bottom: 7px;
            }
            .describe-attack{
                width: calc(90% - 10px);
                padding: 5px;
                text-align: center;
            }
            .describe-elem{
                display: inline-block;
                vertical-align: top;
                width: calc(33% - 12px);
                margin: 6px;
                font-size: 1.2em;
            }
            .healing{
                color: green;
            }
            .attack{
                color: red;
            }
        }
        .skill-attack:hover{
            filter: brightness(120%);
        }
        .unaviable{
            filter: brightness(70%);
            background: rgb(255, 104, 104);
        }
        .unaviable:hover{
            filter: brightness(70%);
        }
    }
}