.game-container{
    .winner-header{
        width: calc(90% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 9.9em;
        font-family: 'Amatic SC', cursive;
        text-shadow: 1px 1px 10px #111;
        color: red;
        margin-bottom: 6vh;
        margin-top: 4vh;
    }
    .options-container{
        width: calc(90% - 10px);
        padding: 5px;
        text-align: center;
        .after-game-option{
            width: calc(50% - 30px);
            padding: 20px 10px;
            margin: 5px;
            height: calc(40vh - 40px);
            font-size: 3.9em;
            font-family: 'Amatic SC', cursive;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: filter 0.4s;
            background: rgba(255,255,255,.7);
        }
        .after-game-option:hover{
            filter: brightness(70%);
        }
    }
}