.game-container{
    .winner-header{
        width: calc(90% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 9.9em;
        font-family: 'Amatic SC', cursive;
        text-shadow: 1px 1px 10px #111;
        color: red;
        margin-bottom: 6vh;
        margin-top: 4vh;
    }
    .options-container{
        width: calc(90% - 10px);
        padding: 5px;
        text-align: center;
        .after-game-option{
            width: calc(50% - 30px);
            padding: 20px 10px;
            margin: 5px;
            height: calc(40vh - 40px);
            font-size: 3.9em;
            font-family: 'Amatic SC', cursive;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: filter 0.4s;
            background: rgba(255,255,255,.7);
        }
        .after-game-option:hover{
            filter: brightness(70%);
        }
    }
}
@media screen and (max-width: 1008px) {
    .game-container{
        .winner-header{
            width: calc(100% - 20px);
            font-size: 6.9em;
            margin-bottom: 10vh;
        }
        .options-container{
            width: calc(100% - 10px);
            .after-game-option{
                height: calc(30vh - 40px);
                font-size: 2.9em;
            }
        }
    }
}
@media screen and (max-width: 654px) {
    .game-container{
        .winner-header{
            font-size: 4.9em;
        }
        .options-container{
            .after-game-option{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: calc(80% - 30px);
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .game-container{
        .winner-header{
            font-size: 3.9em;
        }
        .options-container{
            .after-game-option{
                height: calc(20vh - 40px);
                margin-bottom: 1vh;
            }
        }
    }
}
@media screen and (max-width: 413px) {
    .game-container{
        .winner-header{
            font-size: 3.5em;
        }
        .options-container{
            .after-game-option{
                width: calc(100% - 30px);
            }
        }
    }
}